*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgba(0, 255, 166, 0.64);
    list-style: none;
    text-decoration: none;
}
body{
    background: url(../fundo-escuro.jpg);
    background-color: RGB(4, 47, 86);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.conhecimentos{
    height: 100vh;
}
.linguagens{
    margin-top: 10vh;
    height: 50vh;
}
.linguagens h2{
    margin: 0 auto;
    font-size: 2.5em;
    text-align: center;
}
ul{
    margin-top: 20px;
    margin-right: 3em;
    margin-left: 3em;
    display: grid;
    grid-gap: 3em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.linguagens ul li{
    background-color: rgba(0, 0, 0, 0.516);
    width: 12em;
    min-width: 5em;
    text-align: center;
    margin: 1em auto;
    padding: 1em;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
i{
    font-size: 1.6rem;
    color: rgb(27, 121, 204);
}
.linguagens ul li h3{
    font-size:1.6em;
}
.ferramentas{
    margin-top: 20vh;
    height: 50vh;
}
.ferramentas h2{
    font-size: 2.5em;
    text-align: center;
}
ul{
    margin-top: 20px;
    margin-right: 3em;
    margin-left: 3em;
    display: grid;
    grid-gap: 3em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.ferramentas ul li{
    background-color: rgba(0, 0, 0, 0.516);
    width: 12em;
    min-width: 5em;
    text-align: center;
    margin: 1em auto;
    padding: 1em;
    border-radius: 5%;
}
.ferramentas ul li h3{
    font-size:1.6em;
}
@media(max-width:1305px){
    .conhecimentos{
        height: 150vh;
    }
}
@media(max-width:1200px){
    .conhecimentos{
        height: 130vh;
    }
}
@media(max-width:1060px){
    .conhecimentos{
        height: 160vh;
    }
}
@media(max-width:809px){
    .conhecimentos{
        height: 180vh;
    }
}
@media(max-width:560px){
    .conhecimentos{
        height: 200vh;
    }
    .linguagens h2{
        font-size: 2.5em;
    }
}